<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
		<h3>{{lang.CreateTemplate}}</h3>
	</div>
	<div class="modal-body">
		<div>
			<label>{{lang.TemplateName}}</label>
			<input class="form-control" type="text" ng-model="templateName" placeholder="">
		</div>
		<div>{{lang.TemplateDescription}}</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="start()">{{lang.TemplateCreateStart}}</button>
		<button class="btn btn-danger" ng-click="cancel()">{{lang.Cancel}}</button>
	</div>
</div>
