<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
		<img src="{{iconImagePath}}" style="height:100px; float : left;"></img>
		<div style="float : left;">&nbsp; &nbsp; &nbsp; </div>
		<h3 ng-bind="resultMsg" style="float : left;"></h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" ng-show="etcInfo !== undefined">
					<label class="col-sm-2 control-label">{{lang.Group}}</label>
					<div class="col-sm-10">
						<label class="form-control" type="text">{{etcInfo.group}}</label>
					</div>
					<label class="col-sm-2 control-label">{{lang.Grade}}</label>
					<div class="col-sm-10">
						<label class="form-control" type="text">{{etcInfo.grade}}</label>
					</div>
					<label class="col-sm-2 control-label">{{lang.Age}}</label>
					<div class="col-sm-10">
						<label class="form-control" type="text">{{etcInfo.age}}</label>
					</div>
				</div>
				<div>&nbsp; &nbsp; &nbsp;</div>
				<div class="col-sm-12">
					<label class="col-sm-12 control-label">{{lang.CreateNew}}</label>
					<div class="col-sm-8">
						<input class="form-control" type="text" name="title" ng-model="dcaseTitle" placeholder="タイトル">
					</div>
					<div class="col-sm-4">
						<button class="btn btn-primary" ng-click="ok()">{{lang.CreateDCaseToUser}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="cancel()">{{lang.Close}}</button>
	</div>
</div>
