<!DOCTYPE html>
<html lang="jp" ng-app="App">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>D-Case Web Editor</title>
		
		<script src="./lib/js/jquery.min.js"></script>
		<script src="./lib/js/angular/angular.js"></script>
		<script src="./lib/js/angular/angular-ui-router.js"></script>
		<script src="./lib/js/ui-bootstrap-tpls.min.js"></script>
		<script src="./lib/js/bootstrap.min.js"></script>
		<!--<script src="./lib/js/d3.js"></script>-->
		<script src="./lib/js/d3.v4.js"></script>
		<script src="./lib/js/clipboard.min.js"></script>
		<script src="./lib/js/socket.io.js"></script>
		
		<!--
		<script src="./lib/js/trumbowyg/dist/trumbowyg.min.js"></script>
		-->
		<script src="./lib/js/trumbowyg/dist/plugins/colors/trumbowyg.colors.js"></script>
		<script src="./lib/js/trumbowyg/dist/trumbowyg.js"></script>
		<script src="./lib/js/trumbowyg/dist/langs/ja.min.js"></script>
		<script src="./lib/js/trumbowyg-ng/dist/trumbowyg-ng.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./lib/js/trumbowyg/dist/ui/trumbowyg.min.css">
		
		<script>
		$(function () {
			var clipboard = new Clipboard('.btn');
		});
		</script>
		<link rel="stylesheet" type="text/css" href="./lib/css/bootstrap.min.css">
		
		<!--[if lt IE 9]>
			<script src="/lib/html5shiv.js"></script>
			<script src="/lib/respond.js"></script>
		<![endif]-->
		
		<script src="./js/util.js"></script>
		<script src="./js/login.js"></script>
		<link rel="stylesheet" type="text/css" href="./css/index.css">
	</head>
	<body ng-controller="Login" ng-init="init();">
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" style="margin-top:15vh;">
			<h1>D-Case Communicator</h1>
			<p>　
		</div>
		<div class="col-md-offset-3 col-md-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading text-center">{{lang.Login}}</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-md-4 control-label">{{lang.MailAddress}}</label>
							<div class="col-md-8">
								<input class="form-control" type="text"  name="mail" ng-model="mail" autocomplete ng-keydown="loginKeydown($event)">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">{{lang.Password}}</label>
							<div class="col-md-8">
								<input class="form-control" type="password" name="password" ng-model="passwd" ng-keydown="loginKeydown($event)">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label">{{lang.SelectLang}}</label>
							<div class="col-md-8 text-center">
								<select class="form-control"
									ng-model="selectedLangType"
									ng-options="langType.name for langType in langTypeList"
									ng-change="updateLangType()">
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label"></label>
							<div class="col-md-8 text-center">
								<button type="button" class="btn btn-primary btn-md" ng-click="login();">{{lang.Login}}</button>
								<br/>
								<label class="text-danger text-center">{{loginState}}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label"></label>
							<div class="col-md-8 text-center">
								<a href="./addUser.html" class="btn btn-warning btn-md">{{lang.AddUserMenu}}</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
	</body>
</html>
