<!DOCTYPE html>
<html lang="jp" ng-app="App">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>DCase List</title>
		
		<script src="./lib/js/jquery.min.js"></script>
		<script src="./lib/js/angular/angular.js"></script>
		<script src="./lib/js/angular/angular-ui-router.js"></script>
		<script src="./lib/js/ui-bootstrap-tpls.min.js"></script>
		<script src="./lib/js/bootstrap.min.js"></script>
		<!--
			<script src="./lib/js/d3.js"></script>
		-->
		<script src="./lib/js/d3.v4.js"></script>
		<script src="./lib/js/clipboard.min.js"></script>
		<script>
		$(function () {
			var clipboard = new Clipboard('.btn');
		});
		</script>
		<link rel="stylesheet" type="text/css" href="./lib/css/bootstrap.min.css">
		
		<!--[if lt IE 9]>
			<script src="/lib/html5shiv.js"></script>
			<script src="/lib/respond.js"></script>
		<![endif]-->
		
		<script src="./js/util.js"></script>
		<script src="./js/search.js"></script>
	</head>
	<body ng-controller="Search" ng-init="init();" >
		<!--
			
		-->
		<nav class="navbar navbar-default">
			<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="menu">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="float: left; margin-left:10px;">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="./dcaseList.html">
							<!--
							<span class="glyphicon glyphicon-home"></span>
							-->DCase Communicator
						</a>
					</div>
					<div class="collapse navbar-collapse">
						<form class="navbar-form navbar-right">
							<input class="form-control" type="search" placeholder="Parts Search" ng-model="keyword"/>
							<button class="btn btn-success" type="submit" ng-click="search()">Search</button>
						</form>
					</div>
					<!--
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li>
								<label style="margin-left:20px;">表示倍率:{{scale}}倍</label>
								<button type="button" class="btn btn-primary navbar-btn" ng-click="btnScaleChange(-0.1)"><span class="glyphicon glyphicon-minus"></span></button>
								<button type="button" class="btn btn-primary navbar-btn" ng-click="btnScaleChange(0.1)"><span class="glyphicon glyphicon-plus"></span></button>
							</li>
						</ul>
					</div>
					-->
				</div>
			</div>
		</nav>
		<div class="container-fluid" style="height:90%;">
			<div class="row" style="height:100%;">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th class="col-sm-1">Parts Kind</th>
							<th class="col-sm-10">Detail</th>
							<th class="col-sm-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in partsList">
							<td>{{lang["Parts" + item.kind]}}</td>
							<td>{{item.detail}}</td>
                            <td>
								<a class="btn btn-success" ng-href="./editor.html?dcaseID={{item.dcaseID}}&x={{item.x}}&y={{item.y}}&partsID={{item.partsID}}" target="editor_{{item.dcaseID}}">{{lang.OpenDCase}}</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
